@model Categories










@if (TempData["success2"] != null)
{
    <h2>@TempData["success2"]</h2>
}

<div class="card shadow border-0 mt-4">
    <div class="card-header bg-secondary bg-gradient ml-0 py-3">
        <div class="row">
            <div class="col-12 text-center">
                <h2 class="text-white py-2">Delete Category</h2>
            </div>
        </div>
    </div>
    <div class="card-body p-4">
    </div>
</div>

<div class="card-body p-4">
    <form method="post">
        <input asp-for="Id" hidden />
        <div class="row pb-2">
            <div class="col-12">
                <h2 class="text-primary">Category</h2>
            </div>
        </div>
        <div class="form-floating py-2 col-12">
            <input asp-for="Name" disabled class="form-control border-0 shadow" />
            <label asp-for="Name" class="ms-2"></label>
            <span asp-validation-for="Name" class="text-danger"></span>
        </div>
        <div class="mb-3 row p-1">
            <label asp-for="DisplayOrder" disabled class="p-0"></label>
            <input asp-for="DisplayOrder"  class="form-control" />
        </div>
       <div class="row mt-3">
    <div class="col-6 col-md-3">
        <button type="submit" class="btn btn-danger" style="width:150px">Delete</button> 
        <!-- Chỉnh màu thành đỏ -->
        </div>
        <div class="col-6 col-md-3">

        <a asp-controller="Categories" asp-action="Index" class="btn btn-outline-secondary" style="width:150px">
            Back to List
        </a>
    </div>
</div>

    </form>
</div>
